
<ul>
   <li >
      <h3><a [routerLink]="['/']"> Home</a></h3>
   </li>
   <li >
      <h3><a [routerLink]="['/component1']"> Component1</a></h3>
   </li>
   <li >
         <h3><a [routerLink]="['/component2']"> Component2</a></h3>
      </li>
      <li >
            <h3><a [routerLink]="['/Component154654545644']"> ruta desconocida</a></h3>
         </li>
         <li >
               <h3><a [routerLink]="['/component2',11]"> Paso de parametro</a></h3>
            </li>
      
</ul>

<div class="container">
   <router-outlet></router-outlet>
</div>